[Desktop Entry]
Name=WarMachine
Exec=/usr/lib/WarMachine/WarMachine %U
Icon=/usr/share/pixmaps/WarMachine.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/warmachine;